.form-wrapper {
  width: 100%;
}

.form-wrapper form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.form-textarea {
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  padding: 0.5em;
  border-radius: 0.3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-textarea:focus {
  border: 1px solid rgb(61, 110, 223);
}

.form-wrapper form .button {
  margin-left: auto;
}

.form-wrapper .current-user {
  display: block;
  font-size: 0.8em;
  color: #666;
  margin-bottom: 0.5em;
}

.form-wrapper .current-user a {
  text-decoration: none;
  color: rgb(61, 110, 223);
}
