.posts-list .post {
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}

.posts-list .post:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.comments-list li h4 a {
  line-height: 2em;
  text-decoration: none;
  color: rgb(61, 110, 223);
}

.posts-list .post .title {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-list .post .title a {
  color: rgb(61, 110, 223);
  margin-bottom: 1em;
  text-decoration: none;
}

.posts-list .post .post-details {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: end;
}

.comments-list {
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
}

.comments-list li {
  border-top: 1px solid #ddd;
  margin-bottom: 0.8em;
}

.like-form {
  flex-shrink: 1;
}

.like-form .like-button {
  width: 4em;
  background-color: transparent;
  border: none;
}

.like-form .like-button img {
  transition: transform 0.1s ease-out;
  width: 100%;
}

.like-form .like-button:hover img {
  transform: scale(1.2);
  cursor: pointer;
}