.posts-list .post {
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
  outline: 1px solid #ddd;
}

.comments-list li h4 a {
  line-height: 2em;
  text-decoration: none;
  color: rgb(61, 110, 223);
}

.posts-list .post .title a {
  display: block;
  color: rgb(61, 110, 223);
  margin-bottom: 1em;
  text-decoration: none;
}

.posts-list .post .post-details {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: end;
}

.comments-list {
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
}

.comments-list li {
  border-top: 1px solid #ddd;
  margin-bottom: 0.8em;
}
