.bio-card {
  width: 100%;
  background-color: #ddd;
  padding: 1em;
  border-radius: .3em;
}

.bio-card span {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  color: #666;
}

.posts-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.posts-list .post {
  padding: 1em;
  width: 100%;
  border-radius: .3em;
  outline: 1px solid #ddd;
}

.posts-list .post span {
  display: block;
  color: #666;
  margin-bottom: 1em;
}

.posts-list .post .post-details {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: end;
}